fastapi>=0.100.0
uvicorn[standard]>=0.23.0

pydantic>=2.0.0
pydantic-settings

sqlalchemy[asyncio]>=2.0.0
asyncpg
psycopg2-binary
alembic>=1.13.0
greenlet

pyjwt
bcrypt
python-multipart
email-validator

pytest
pytest-asyncio
httpx

langchain>=0.1.0
langchain-core>=0.1.0
langgraph>=0.0.1
langgraph-cli[inmem]>=0.4.11
langchain-groq>=0.1.0

python-dotenv>=1.0.0

instagrapi
requests
